#login_container {
  @include border-radius(3px);
  background: $primary-black;
  height: 225px;
  margin: 0 auto;
  padding: 20px;
  width: 30%;

  .user-login-title {
    color: $white;
    font-size: 22px;
  }
  .login-input-container {
    margin-top: 25px;
  }
  .login-btn {
    background: $white;
    color: $primary-black;
    float: right;
    margin-top: 10px;

    &:hover {
      background: $primary-teal;
      border: 1px solid $primary-teal;
    }
  }
}
